In [1]:
import pandas as pd
import numpy as np
import re
import datetime
from datetime import timedelta

In [2]:
df_1999 = pd.read_csv("./tabula-Lego_Annual_Report_1999_ENG.csv")
df_2000 = pd.read_csv("./tabula-Lego_Annual_Report_2000_ENG.csv")
df_2005 = pd.read_csv("./tabula-Lego_Annual_Report_2005_ENG.csv")
df_2010 = pd.read_csv("./tabula-Lego_Annual_Report_2010_ENG.csv", skiprows=[0])
df_2015 = pd.read_csv("./tabula-Lego_Annual_Report_2015_ENG.csv")
df_2020 = pd.read_csv("./tabula-Lego_Annual_Report_2020_ENG.csv")
df_2022 = pd.read_csv("./tabula-LEGO_Annual_Report2022_Final_WEB.csv")

In [3]:
df_2020 = df_2020.iloc[1:6].reset_index(drop=True)

In [4]:
df_2015 = df_2015.iloc[1:6].reset_index(drop=True)

In [5]:
df_2010.rename(columns={"Unnamed: 0": "(mDKK)"}, inplace=True)

In [6]:
df_2010 = df_2010.iloc[2:8].reset_index(drop=True)

In [7]:
df_2010.drop([3], inplace=True)

In [8]:
df_2010.replace("Operating profit before special items", "Operating profit",inplace=True)

In [9]:
df_2005.drop(df_2005.columns[1], axis=1, inplace=True)

In [10]:
df_2005 = df_2005.iloc[1:12].reset_index(drop=True)

In [11]:
df_2005.drop([2,3,4,5,9,10],inplace=True)

In [12]:
df_2005.replace("Operating profit/(loss)", "Operating profit",inplace=True)
df_2005.replace("Profit/(loss) before tax", "Profit before income tax",inplace=True)
df_2005.rename(columns={df_2005.columns[0]: "(mDKK)"}, inplace=True)

In [13]:
df_1999 = df_1999.rename(columns={"Unnamed: 0": "(mDKK)"})
df_1999 = df_1999.iloc[:2].replace("Net turnover","Revenue").replace("Result before tax","Profit before income tax")

In [15]:
df_2000 = df_2000.rename(columns={"Unnamed: 0": "(mDKK)"})
df_2000["2000"] = df_2000["2000"].astype(str)
df_2000 = df_2000.iloc[:2,:2].replace("Net sales","Revenue").replace("Result before tax","Profit before income tax")

In [16]:
df_2022 = df_2022.iloc[1:6,0:3].reset_index(drop=True)

In [17]:
df_2022.replace("Financial items", "Financial income and expenses",inplace=True)
df_2022.replace("Profit before tax", "Profit before income tax",inplace=True)

In [18]:
df_global = df_2005.merge(df_2010, how='inner', on='(mDKK)')

In [19]:
df_global = df_global.merge(df_2015, how='inner', on='(mDKK)')

In [20]:
df_global = df_global.merge(df_2020, how='inner', on='(mDKK)')

In [21]:
df_global = df_global.merge(df_2022, how='inner', on='(mDKK)')

In [22]:
df_global = df_global.applymap(lambda x: x.replace(',', '').replace('(', '').replace(')', ''))

In [23]:
df_global.iloc[:, 1:] = df_global.iloc[:, 1:].applymap(float)

In [24]:
df_global = df_global.merge(df_1999, how='left', on='(mDKK)')

In [25]:
df_global = df_global.merge(df_2000, how='left', on='(mDKK)')

In [26]:
df_global.sort_index(axis=1, inplace=True)

In [27]:
display(df_global)

,(mDKK),1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Revenue,6844.0,7534.0,7616.0,768.0,9808.0,9467.0,9000.0,9601.0,6792.0,...,25294.0,28578.0,35780.0,37934.0,34995.0,36391.0,38544.0,43656.0,55294.0,64647.0
1,Expenses,NaN,NaN,NaN,NaN,NaN,NaN,8142.0,8795.0,7902.0,...,16958.0,18881.0,23536.0,25486.0,24636.0,25617.0,27707.0,30744.0,38250.0,46726.0
2,Operating profit,NaN,NaN,NaN,NaN,NaN,NaN,736.0,806.0,1565.0,...,8336.0,9697.0,12244.0,12448.0,10359.0,10774.0,10837.0,12912.0,17044.0,17921.0
3,Financial income and expenses,NaN,NaN,NaN,NaN,NaN,NaN,215.0,189.0,67.0,...,97.0,206.0,96.0,57.0,158.0,264.0,85.0,412.0,39.0,245.0
4,Profit before income tax,676.0,699.0,171.0,-282.0,516.0,-1070.0,521.0,617.0,1498.0,...,8239.0,9491.0,12148.0,12391.0,10201.0,10510.0,10752.0,12500.0,17005.0,17676.0

In [28]:
df_global.to_csv('./df_CA_lego_paul.csv', index=False)