In [1]:
import pandas as pd
import numpy as np
import requests

In [24]:
old_df = pd.read_csv('../Datas/colors.csv')
colors = pd.read_csv('../Datas/colors_cleaned.csv')
display(colors.head())

,piece_id,is_spare,couleur_id,couleur_nom,couleur_code,is_trans,set_id,set_nom,set_annee,set_nb_pieces,univers_id,univers_nom
0,brickslot0004,f,15,White,FFFFFF,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
1,brickslot0002,f,4,Red,C91A09,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
2,brickslot0002,f,2,Green,237841,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
3,brickslot0002,f,15,White,FFFFFF,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
4,brickslot0003,f,4,Red,C91A09,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System

In [23]:
nb_couleur = old_df['id'].nunique()
nb_couleurs_utilisées = colors['couleur_id'].nunique()

print('Nombre de couleurs de la gamme LEGO en 2023 :', nb_couleur)
print('Versus nombre de couleurs de la gamme LEGO utilisés en 2023 :', nb_couleurs_utilisées)
print('Soit', nb_couleur - nb_couleurs_utilisées, 'existantes mais non listées au sein des sets de jeux.')

Nombre de couleurs de la gamme LEGO en 2023 : 231
Versus nombre de couleurs de la gamme LEGO utilisés en 2023 : 219
Soit 12 existantes mais non listées au sein des sets de jeux.

In [25]:
options(repr.plot.width=7, repr.plot.height=6)
set_color%>%select(set_annee,couleur_nom,couleur_code)%>%group_by(set_annee,couleur_nom,couleur_code)%>%summarise(col_cnt=n())%>%arrange(desc(col_cnt))%>%ggplot(aes(x=year,y=1,fill=rgb))+geom_bar(stat="identity")+theme(legend.position = "none")+scale_fill_manual(values=my_color)+labs(title=" Unique Lego Colors in Years",y="")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (563192846.py, line 1)