In [267]:
import pandas as pd
import numpy as np
import requests

In [268]:
colors = pd.read_csv('../Datas/colors.csv')
elements = pd.read_csv('../Datas/elements.csv')
inventory_parts = pd.read_csv('../Datas/inventory_parts.csv')
inventories = pd.read_csv('../Datas/inventories.csv')
sets = pd.read_csv('../Datas/sets.csv')
themes= pd.read_csv('../Datas/themes.csv')
part_categories = pd.read_csv('../Datas/part_categories.csv')
parts = pd.read_csv('../Datas/parts.csv')

display(elements)

       element_id         part_num  color_id  design_id
0         6443403    2277c01pr0009         1     2277.0
1         6300211         67906c01        14    67908.0
2         4566309             2564         0     2564.0
3         4275423            53657      1004    53657.0
4         6194308            92926        71    28967.0
...           ...              ...       ...        ...
82498     6453242  973c02h27pr6764         4    76382.0
82499     6445887  973c01h09pr0001        30        NaN
82500     6453339         37783c02         4    38630.0
82501     4191355            30636        14        NaN
82502     6445844  973c75h22pr0001      1103        NaN

[82503 rows x 4 columns]

### Joindre inventory_parts et inventories

In [269]:
#merge les fichiers pour ajouter l'infos set_num
inventory_add_set_num = pd.merge(inventory_parts[:-1], inventories[['set_num','id']], left_on='inventory_id', right_on='id', how='left').drop('id',axis=1).drop('img_url',axis=1)

#renommer quantity et set_num
inventory_add_set_num.rename(columns={'quantity':'part_quantity'},inplace=True)
inventory_add_set_num.rename(columns={'set_num':'set_id'},inplace = True)

#vérifier l'existence de pièces de remplassement pour voir si je garde la colonne
is_spare_true = inventory_add_set_num.loc[inventory_add_set_num['is_spare'] == 't']

### Adjoindre maintenant le df sets et cleaner le résultat

In [270]:
inventories_and_sets = pd.merge(inventory_add_set_num, sets, left_on ='set_id', right_on ='set_num', how='left').drop('set_num',axis=1).drop('img_url', axis=1)

columns_to_convert = ['year','theme_id','num_parts']
default_value = 0  # Valeur par défaut à utiliser pour remplacer les valeurs non valides
inventories_and_sets[columns_to_convert] = inventories_and_sets[columns_to_convert].fillna(default_value).astype(int)

#renommer les colonnes
inventories_and_sets.rename(columns={'name':'set_nom'},inplace = True)
inventories_and_sets.rename(columns = {'year':'set_annee'},inplace = True)
inventories_and_sets.rename(columns = {'part_num':'piece_id'},inplace = True)
inventories_and_sets.rename(columns = {'part_quantity':'piece_quantity'},inplace = True)
inventories_and_sets.rename(columns = {'num_parts':'set_nb_pieces'},inplace = True)

### Ajouter les infos sur les univers

In [271]:
inventories_sets_univers = pd.merge(inventories_and_sets, themes[['id','name']], left_on = 'theme_id', right_on = 'id', how='left').drop('id',axis=1)
inventories_sets_univers.rename(columns = {'theme_id':'univers_id'}, inplace = True)
inventories_sets_univers.rename(columns = {'name':'univers_nom'}, inplace = True)

#déplacer ma colonne 'num_parts'
inventories_sets_univers.insert(8, 'set_nb_pieces', inventories_sets_univers.pop('set_nb_pieces'))

#supprimer colonnes piece_quantity et inventory_id que je nutilise pas
inventories_sets_univers = inventories_sets_univers.drop('piece_quantity',axis=1)
sets_univers = inventories_sets_univers.drop('inventory_id', axis=1)

### Supprimer les lignes NaN et trier selon colonne 'piece_id'

In [272]:
sets_univers = sets_univers.dropna(subset=['set_nom'])
sets_univers = sets_univers.sort_values(by='set_annee', ascending=True)

### Ajouter les colonnes 'couleur_nom' et 'couleur_code'

In [273]:
colors = pd.merge(sets_univers, colors, left_on = 'color_id', right_on = 'id', how = 'left').drop('id', axis=1)

In [274]:
colors.insert(4, 'couleur_nom', colors.pop('name'))
colors.insert(5, 'couleur_code', colors.pop('rgb'))
colors.insert(3, 'couleur_id', colors.pop('color_id'))
colors.insert(6, 'is_trans', colors.pop('is_trans'))
colors.insert(6, 'set_id', colors.pop('set_id'))

display(colors)

,piece_id,is_spare,couleur_id,couleur_nom,couleur_code,is_trans,set_id,set_nom,set_annee,set_nb_pieces,univers_id,univers_nom
0,brickslot0004,f,15,White,FFFFFF,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
1,brickslot0002,f,4,Red,C91A09,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
2,brickslot0002,f,2,Green,237841,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
3,brickslot0002,f,15,White,FFFFFF,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
4,brickslot0003,f,4,Red,C91A09,f,700.3-1,Medium Gift Set (ABB),1949,142,365,System
...,...,...,...,...,...,...,...,...,...,...,...,...
1100474,35480,f,378,Sand Green,A0BCAC,f,10316-1,Lord of the Rings: Rivendell,2023,6182,721,Icons
1100475,35464,t,71,Light Bluish Gray,A0A5A9,f,10316-1,Lord of the Rings: Rivendell,2023,6182,721,Icons
1100476,35464,f,71,Light Bluish Gray,A0A5A9,f,10316-1,Lord of the Rings: Rivendell,2023,6182,721,Icons
1100477,32952,f,71,Light Bluish Gray,A0A5A9,f,10316-1,Lord of the Rings: Rivendell,2023,6182,721,Icons
1100478,3795,f,0,Black,05131D,f,75577-1,Mako Submarine​,2023,553,724,Avatar

### Créer le nouveau fichier csv couleurs

In [275]:
colors.to_csv('colors_cleaned.csv', index = False)